.container
    .header
        .logo
            a(href='/zuitop')
                img(src="./assets/img/zuitop-logo.svg" alt="logo")
        .language
            a(href="#")
            | 繁 / 
            a(href="#")
            | 簡 / 
            a(href="#")
            | EN 
    ul.menu
        li(value="index") 
            a.index-page(href='/zuitop') ZUITOP
        li(value="about") 
            a(href='about.html') 關於瑞志
        li(value="product") 
            a(href='product.html') 產品介紹
        li(value="coop") 
            a(href='coop.html') 合作夥伴
        li(value="contact") 
            a(href='contact.html') 聯絡我們
        //- .sub-menu
        //-     ul.sub-02
        //-         li
        //-             a(href="/about.html")|瑞志實業
        //-         li
        //-             a(href="/developing.html")|多元發展
        //-     ul.sub-03
        //-         li
        //-             a.olefin(href="/product.html#olefin")|石化原料
        //-         li 
        //-             a.monomers(href="/product.html#monomers")|單體
        //-         li 
        //-             a.chlor(href="/product.html#chlor")|Chlor / Alkali
        //-         li 
        //-             a.plastic(href="/product.html#plastic")|塑膠品
        //-         li
        //-             a.special-chemicals(href="/product.html#special-chemicals")|特用化學品
script.
    $(document).ready(function () {
        //- document.addEventListener("contextmenu", function(e){
        //-     e.preventDefault();
        //- }, false);
        var currentMenu = '';
        var url = location.pathname;
        var anchor = window.top.location.hash
        //- console.log(url)
        $('.triangle').click(function () {
            window.scrollTo({
            top: 0,
            behavior: 'smooth'
            });
        })
        $(".owl-carousel").owlCarousel(
            {
                items: 1,
                loop: true,
                autoplay: true,
                autoplayTimeout: 5000
            }
        );
        if(url.indexOf('/about.html')>0){
            $("li[value='about']").addClass('active')
        }else if(url.indexOf('/developing.html')>0){
            $("li[value='about']").addClass('active')
        }else if(url.indexOf('/product.html')>0){
            $("li[value='product']").addClass('active')
        }else if(url.indexOf('/coop.html')>0){
            $("li[value='coop']").addClass('active')
        }else if(url.indexOf('/contact.html')>0){
            $("li[value='contact']").addClass('active')
        }else if(url.indexOf('zuitop')>0){
            $("li[value='index']").addClass('active')
        }
        );

