doctype html
html
    head
        include head

    body(class=pageClass)
        //BEGIN out
        main(class=outClass)

            block header
                include ../partials/header

            .container-wrapper
                block content

            block footer
                include ../partials/footer
