extends layout/layout
block content
	.about-container
		.container
			.row
				.col-12
					.sub-menu
						ul.sub-02(style='display: block;')
							li
								a.active(href='about.html') 瑞志實業
							li
								a(href='developing.html') 多元發展
					.main.about
						span 瑞志實業精神
						h1 
							|創新突破穩定品質
							br
							|落實管理提高效率
						p 
							|瑞志實業股份有限公司於西元 1973 年創立，實為國內外知名石化廠指定之專業代理商。
							br
							|專營工業化學品、溶劑、塑膠原料、油品等經銷貿易與業務。
							br
							|四十多年來秉持以誠為本，以人為根之企業精神，伴隨公司營運一同節節攀升。
							br
							|瑞志集團以台灣總公司作為營運中心；並致力於多角化經營，在上海，香港，越南，韓國，新加坡，印尼，馬來西亞，中東波斯灣地區等多處建立經銷網路，服務客戶及供應商，攜手深耕中東及亞太地區業務。