extends layout/layout
block content
	.about-container
		.container
			.row
				.col-12
					.sub-menu
						ul.sub-02(style='display: block;')
							li
								a.active(href='about.html') ZUITOP DEVELOPMENT CORP
							//- li
							//- 	a(href='developing.html') 多元發展
					.main.about
						span The Spirit of ZUITOP DEVELOPMENT CORP.
						h1 
							|Breakthrough innovation, reliable quality
							br
							|Effective management, greater efficiency
						p 
							|ZUITOP DEVELOPMENT CORP. was established in 1973 and serves as the designated professional agency for prestigeous petrochemical plants both in Taiwan and abroad. Our company specializes in dealing, distribution and sales in industrial chemicals, solvents, plastic materials and petroleum products.
							br
							|As our business sales have soared and progressed in the past forty years, honesty and people-centricity have always been the business spirits we respect.
							br
							|ZUITOP DEVELOPMENT CORP. settles its operational center in the headquaters in Taiwan and engages in diversification in business, establishing distribution networks and serving clients and suppliers in Shanghai, Hongkong, Vietnam, Korea, Singapore, Indonesia, Malaysia and regions around the Persian Gulf in the Middle East, with an aim to strenghten our links and services in the Middle East and the APAC region.