extends layout/layout
block content
    .container
        .row
            .col-12
                .sub-menu
                    ul.sub-02
                        li
                            a.active Contact Us
                .main.contact
                    .column-left
                        span Contact / Consultancy
                        form(target="_blank" action='https://formspree.io/mqkbklna' method='POST')
                            input(type="text" name='name' placeholder="Name / Company")
                            input(type="text" name="topic" placeholder="Subject")
                            input(type="email" placeholder="E-mail" name='_replyto')
                            textarea(type="text" name='message' placeholder="Message")
                            input.btn.btn-primary(type='submit' value='Submit')

                    .column-right
                        .item
                            img(src="../assets/img/location.svg" alt="location")
                            p
                                |瑞志實業股份有限公司
                                br
                                |台灣 台北
                        .item
                            img(src="../assets/img/phone.svg" alt="phone")
                            p
                                |+886
                                br
                                | 02 87730128
                        .item
                            img(src="../assets/img/email.svg" alt="email")
                            p
                                |zuitop_client@
                                br
                                |zuitop.com

