extends layout/layout
block content
	.container
		.row
			.col-12
				.sub-menu
					ul.sub-02
						li
							a.active 合作夥伴
				.main.coop
					span 海外合作
					h2 
						| ZUITOP TRADING CO.,LTD  為國內外知名石化廠指定之專業代理商，於上海、 香港、越南，皆有緊密合作之企業夥伴，攜手建立亞太地區貿易經絡網。
					h2
						| 除致力於石化上、中、下游產品的國際貿易，ZUITOP TRADING CO.,LTD 同時提供靈活多變的交易模式及增值服務，全力為眾多客戶與合作夥伴創造更多價值和利潤。
					.sub-head
						p  台灣
						p 台北
						.sub Taipei, Taiwan
					.sub-content
						|瑞志實業有限公司 ZUITOP TRADING CO.,LTD 
						br
						|106 台北市大安區安和路一段 29 號 13 樓
						br
						|Tel - +886 02 87730128 | Fax - +886 02 87730128
						br
						|Email - 
						a.coop-link(href="contact.html") zuitop_client@zuitop.com

