extends layout/layout
block content
	.container
		.row
			.col-12
				.sub-menu
					ul.sub-02
						li
							a.active Partnership
				.main.coop
					span Overseas Partnership
					h2 
						| ZUITOP DEVELOPMENT CORP. is the designated professoinal agency for prestigeous petrochemical plants both in Taiwan and abroad, and we also work closely with our business partners in Shanghai, Hongkong and Vietnam, establishing trade networks in the APAC region in a collaborative fashion.
					h2 
						|  In addition to engaging in international trades in upstream, midstream and downstream products, ZUITOP DEVELOPMENT CORP. also offers fexlible patterns of trade as well as value-added services to create value and profit for our numerious clients and business partners as much as possible.
					.sub-head
						p  台灣
						p 台北
						.sub Taipei, Taiwan
					.sub-content
						|瑞志實業股份有限公司 ZUITOP DEVELOPMENT CORP.
						br
						|106 台北市大安區安和路一段 29 號 13 樓
						br
						a.coop-link(href="tel:+886 02 87730128") Tel - +886 02 87730128
						.d-none.d-sm-inline |
						br.d-sm-none.d-block
						a Fax - +886 02 87730128
						br
						|Email - 
						a.coop-link(href="contact.html") zuitop_client@zuitop.com