extends layout/layout
block content
	.about-container
		.container
			.row
				.col-12
					.sub-menu
						ul.sub-02(style='display: block;')
							li
								a.active(href='about.html') 关于瑞志
							//- li
							//- 	a(href='developing.html') 多元發展
					.row
						.main.about
							span 瑞志实业精神
							h1 
								|创新突破稳定品质
								br
								|落实管理提高效率
							p 
								|瑞志实业股份有限公司于西元 1973 年创立，实为国内外知名石化厂指定之专业代理商。
								br
								|专营工业化学品、溶剂、塑胶原料、油品等经销贸易与业务。
								br
								|四十多年来秉持以诚为本，以人为根之企业精神，伴随公司营运一同节节攀升。
								br
								|瑞志集团以台湾总公司作为营运中心；并致力于多角化经营，在上海，香港，越南，韩国，新加坡，印尼，马来西亚，中东波斯湾地区等多处建立经销网路，服务客户及供应商，携手深耕中东及亚太地区业务。