extends layout/layout
block content
    .container
        .row
            .col-12
                .sub-menu
                    ul.sub-02
                        li
                            a.active 联络我们
                .row
                    .main.contact
                        .column-left
                            span 联络 / 谘询
                            form(target="_blank" action='https://formspree.io/mqkbklna' method='POST')
                                input(type="text" name='name' placeholder="名称 / 公司")
                                input(type="text" name="topic" placeholder="主旨")
                                input(type="email" placeholder="电邮" name='_replyto')
                                textarea(type="text" name='message' placeholder="讯息")
                                input.btn.btn-primary(type='submit' value='发送')

                        .column-right
                            a(href="https://www.google.com/maps/place/106%E5%8F%B0%E5%8C%97%E5%B8%82%E5%A4%A7%E5%AE%89%E5%8D%80%E5%AE%89%E5%92%8C%E8%B7%AF%E4%B8%80%E6%AE%B529%E8%99%9F13%E6%A8%93/@25.039206,121.5483813,17z/data=!3m1!4b1!4m5!3m4!1s0x3442abcf99fc2aaf:0x3f22e7108fd185cb!8m2!3d25.039206!4d121.55057").item
                                img(src="../assets/img/location.svg" alt="location")
                                p
                                    |瑞志实业股份有限公司
                                    br
                                    |台湾 台北
                            .item
                                img(src="../assets/img/phone.svg" alt="phone")
                                a(href="tel:+8860287730128")
                                    |+886
                                    br
                                    | 02 87730128
                            .item
                                img(src="../assets/img/email.svg" alt="email")
                                p
                                    |zuitop_client@
                                    br
                                    |zuitop.com

