extends layout/layout
block content
	.container
		.row
			.col-12
				.sub-menu
					ul.sub-02
						li
							a.active 合作伙伴
				.row
					.main.coop
						span 海外合作
						h2 
							| ZUITOP DEVELOPMENT CORP. 为国内外知名石化厂指定之专业代理商，于上海、 香港、越南，皆有紧密合作之企业伙伴，携手建立亚太地区贸易经络网。
						h2
							| 除致力于石化上、中、下游产品的国际贸易，ZUITOP DEVELOPMENT CORP. 同时提供灵活多变的交易模式及增值服务，全力为众多客户与合作伙伴创造更多价值和利润。
						.sub-head
							p  台湾
							p 台北
							.sub Taipei, Taiwan
						.sub-content
							|瑞志实业股份有限公司 ZUITOP DEVELOPMENT CORP.
							br
							|106 台北市大安区安和路一段 29 号 13 楼
							br
							a.coop-link(href="tel:+886 02 87730128") Tel - +886 02 87730128
							.d-none.d-sm-inline |
							br.d-sm-none.d-block
							a Fax - +886 02 87730128
							br
							|Email - 
							a.coop-link(href="contact.html") zuitop_client@zuitop.com

