extends layout/layout
block content
    .container
        .row
            .col-12
                .sub-menu
                    ul.sub-02
                        li
                            a.olefin(href="product.html#olefin")|石化原料
                        li
                            a.monomers(href="product.html#monomers")|单体
                        li 
                            a.chlor(href="product.html#chlor")|Chlor / Alkali
                        li 
                            a.plastic(href="product.html#plastic")|塑胶品
                        li
                            a.special-chemicals(href="product.html#special-chemicals")|特用化学品
                .row
                    .main.product
                        .wrapper
                            p#olefin 石化原料 
                                span Olefin
                            ul
                                li
                                    p 乙烯
                                    .small Ethylene
                                li
                                    p 丙烯
                                    .small Propylene
                                li
                                    p 丁二烯
                                    .small 1, 3 Butadiene
                                li
                                    p 丁二烯萃余油
                                    .small Ethylene
                                li
                                    p C5 衍生物
                                li
                                    p 离双环戊二烯
                                    .small DCPD
                                li
                                    p 异戊二烯
                                    .small Lsoprene
                                li
                                    p 及间戊二烯
                                    .small PIPS
                        .wrapper
                            p#monomers 单体 
                                span Monomers
                            ul
                                li
                                    p 丙烯酸
                                    .small (AA) (Acrylate Acid)
                                li
                                    p 丙烯酸乙酯
                                    .small (EA) (Ethyl Acrylate)
                                li
                                    p 丙烯酸丁酯
                                    .small (BA) (Butyl Acrylate)
                                li
                                    p 丙烯酸异辛酯
                                    .small (2-EHA)
                                li
                                    p 丙烯腈
                                    .small (AN)
                                li
                                    p 乙腈
                                    .small (ACN)
                                li
                                    p 碳酸乙烯酯
                                    .small (EC)
                                li
                                    p 二乙胺
                                    .small (DEA)
                                li
                                    p 甲基丙烯酸
                                    .small (MAA)(Methacrylic Acid)
                                li
                                    p 甲基丙烯酸甲酯
                                    .small (MMA)(Methyl Methacrylate)
                                li
                                    p 乙二醇
                                    .small (EG)(Mono-ethylene Glycol)
                                li
                                    p 二乙二醇
                                    .small (DEG)(Di-ethylene Glycol)
                                li
                                    p 乙二醇丁醚
                                    .small (BCS)
                                li
                                    p 二乙二醇丁醚
                                    .small (DB)
                                li
                                    p 乙醇胺
                                    .small (MEA)
                                li
                                    p 四氢呋喃
                                    .small (THF)
                        .wrapper
                            p#chlor 
                                span Chlor / Alkali
                            ul
                                li
                                    p 丙烯酸
                                    .small (AA) (Acrylate Acid)
                                li
                                    p 二氯甲烷
                                    .small (MC)(Dichloromethane)
                                li
                                    p 片碱
                                li
                                    p 粒碱
                                li
                                    p 二氯乙烷
                                    .small EDC
                                li
                                    p 环氧氯丙烷
                                    .small (ECH)(Epichlorohydrin)
                                li
                                    p 氯乙烯
                                    .small (VCM)
                                li
                                    p 偏二氯乙烯
                                    .small (VCL2)
                        .wrapper
                            p#plastic 塑胶品 
                                span Plastic
                            ul
                                li
                                    p PVC
                                li
                                    p PE
                                li
                                    p PP
                                li
                                    p HDPE
                                li
                                    p LDPE
                                li
                                    p LLDPE
                                li
                                    p EVA
                                li
                                    p Suspension PVC
                                li
                                    p Emulsion / Paste PVC
                                li
                                    p PVC Modifiers
                                li
                                    p DOP, DOTP
                                li
                                    p DINP, DIDP
                                li
                                    p Plasticizers
                        .wrapper.special-chemicals
                            p#special-chemicals 特用化学品 
                                span Specialty Chemicals
                            ul
                                li
                                    p Polymerization Initiator
                                li
                                    p Silane External Donor
                                li
                                    p Cocataysts for Ziegler Natta Catalyst
                                li
                                    p Polymerization Inhibitor
                                li
                                    p Hydrogenation Catalyst