extends layout/layout
block content
    .container
        .row
            .col-12
                .main.contact
                    .column-left
                        span 聯絡 / 諮詢
                        form
                            input(type="text" placeholder="名稱 / 公司")
                            input(type="text" placeholder="主旨")
                            input(type="text" placeholder="電子信箱")
                            textarea(type="text" placeholder="訊息")
                            button.btn.btn-primary 送出
                    .column-right
                        .item
                            img(src="./assets/img/location.svg" alt="location")
                            p
                                |瑞志實業有限公司
                                br
                                |台灣 台北
                        .item
                            img(src="./assets/img/phone.svg" alt="phone")
                            p
                                |+886
                                br
                                | 02 87730128
                        .item
                            img(src="./assets/img/email.svg" alt="email")
                            p
                                |zuitop_client@
                                br
                                |zuitop.com

