extends layout/layout
block content
    .container
        .row
            .col-12
                .developing
                    span 瑞智實業精神
                    h1 
                        |瑞志集團主要致力於石化上、中、下游產品的國際貿易。
                        br
                        |除買賣之外；同時提供靈活多變的交易模式及增值服務，
                        br
                        |全力為眾多客戶與合作夥伴創造更多價值和利潤。
                    p 
                    |彈性多元的交易模式
                    ol
                        li 簽訂長期契約以確保供應商穩定出貨
                        li 出口貨品散裝整合並利用槽車分銷至終端使用者
                        li 與生產商的緊密合作加以在海外市場設置保稅倉庫 / 保稅罐；於當地分銷並嚴格控管庫存
                        li 完善的三角貿易操作並提供流暢的時間差 / 運費差之換貨 (SWAP)
                        li 開拓新產品市場以及客戶群
                    p 安全且縝密的運輸系統
                    p 瑞志累積多年豐富的經驗並與船東保持優良的合作關係，我們專業的團隊能確保您的貨品以最佳成本，安全且效率地送達目的地。
                    p 值得信賴的交易夥伴
                    p 瑞志集團於業界享負數十年的優良信譽，憑藉堅實的財務基礎作為後盾，得以有效管理進而降低各層面之金融風險。給予供應商及客戶最具備安全與競爭力的交易付款條件
