doctype html
html(lang="en-GB")
	head
		meta(charset="utf-8")
		title Gulp Sass Pug playground
		link(rel="stylesheet" href="main.css")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
		script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js")
	body
		.container
			.col-12
				.header
				.logo
					img(src="/assets/img/logo.png" alt="logo")
				.language
					a(href="#")
					| 繁 /
					a(href="#")
					| 簡 /
					a(href="#")
					| EN
			ul.menu
				li(value="1") ZUITOP
				li(value="2") 關於瑞志
				li 產品介紹
				li 合作夥伴
				li 聯絡我們
				.sub-menu
				ul.sub-01
					li 瑞志實業
					li 多元發展
				ul.sub-02
					li 石化原料
					li 單體
		.main
		.container
			.col-12
				.contact
					.bolder ZUITOP TRADING CO.,LTD
					|         No. 29-13, Sec. 1, Anhe Rd., Da’an Dist., Taipei City 106, Taiwan
					br
					|         TEL- +886 02 87730128 | FAX- +886 02 87730128
					br
					|         E-MAIL- zuitop.global@zuitop.com
		.footer
			.container
				.col-12
				| COPYRIGHT © 2020 Zuitop Trading Co.,Ltd. ALL RIGHTS RESERVED.
	script.
		$(document).ready(function () {
		console.log("ready!");
		var currentMenu = '';
		$('.menu > li').click(function () {
			currentMenu = $(this)[0].value;
			console.log(currentMenu);
			switch (currentMenu) {
				case 1:
				$('.sub-menu > ul').hide();
				$('.sub-01').toggle();
				break;
				case 2:
				$('.sub-menu > ul').hide();
				$('.sub-02').toggle();
				break;
				default:
				break;
				}
			})
		});

