extends layout/layout
block content
    .product
        .wrapper
            h1#material 石化原料 Olefin
        .wrapper
            h1 石化原料 Olefin
        .wrapper
            h1 石化原料 Olefin
        .wrapper
            h1 石化原料 Olefin
        .wrapper
            h1 石化原料 Olefin
        .wrapper
            h1#stuff 石化原料 Olefin